pandas
scikit-learn
torch
transformers
datasets
tqdm
numpy
nltk
streamlit
pytest
langdetect
sentence-transformers
joblib
deep-translator
matplotlib
wordcloud
seaborn
spacy
slowapi
fastapi
uvicorn
gensim
textblob